body {
  margin: 0;
  padding: 0;
  background: #000;
  display: flex;
  flex-direction: column; 
}

#main {
  flex: 1;
}

canvas {
  width: 100%; 
  height: 100%;
}

table {
  padding: 0;
  color: white;
  font-size: 32px;

  tr {
    padding: 0;
  }

  tr:nth-child(even) {
    background-color: #575555;
  }

  th,td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 3px 8px;
  }
}

/* 
    Log2Div related styles
*/

/* This is needed to make whitespace visible in the console log, for instance in Phaser header. */
span { white-space: pre; }

.wordwrap { 
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#console-log-div {
  position: absolute;
  display: none;
  z-index: 1000;
  min-height: 55px;
  width: 98% !important;
  margin: 10px;
  padding: 5px 0 0 0;
  
  font-family: "Input Mono", monospace;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.4em;
  
  color: rgba(0,0,0,.61);
  border-radius: 2px;
  
  box-shadow: inset 0 0 2px rgba(0,0,0,.1);
  background-color: rgba(255, 255, 255, 0.5);
  
  #legend, .log-row, td {
    padding: 10px 0 8px 0;
    text-indent: 10px;
  }
  #legend {
    padding-bottom: 12px;
    font-size: 1.2em;
  }
  #console-log-caption {
    display: flex;
  }
  .log-row {
    &:nth-child(odd) {
      background: rgba(0,0,0,.1);
    }
  }
  .exception {
    color: rgb(255,0,255);
  }
  .error {
    color: rgb(255,0,0);
  }
  .warning {
    color: rgb(255,100,50);
  }
  .info {
    color: rgb(0,0,255);
  }
  thead {
    background: rgba(0,0,0,.2);
  }
}
