html,
body,
.container {
  margin: 0px;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #47a747;
}

notbody {
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #000;
}

#notmain {
  margin: 0 auto;
  padding: 0;
  height: 650px;
  width: 1200px;
}
